<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/normalize.css">
</head>
<body>
<div class="nav-container">
<nav class="nav-bar">
    <a href="index.php" class="logo">
        <img src="assets/img/logo_clair.png" alt="logo">
    </a>
    <div class="navigation">
        <a href="index.php?page=Customisation">Customisation</a>
        <a href="index.php?page=Reparation">Réparation</a>
        <a href="index.php?page=Produits">Produits</a>
        <a href="index.php?page=Apropos">À propos</a>
        <a href="index.php?page=Panier">Panier</a>
    </div>
    <div class="user-logo">
        <a href="index.php?page=Login"><img src="assets/img/user.png" alt="user logo"></a>
    </div>
</nav>
</div>
</body>
</html>