/* ==========Body========== */

body{
    max-width: 100%;
    font-family: proxima-nova,sans-serif;
    font-weight: 400;
    font-style: normal;
}
ul {
    padding: 0;
}
li {
    padding-top: 5px;
}
h3 {
    font-size: 30px;
    font-weight: bold;
}
a {
    text-decoration: none;
}
/* ==========Header=========*/

.nav-bar {
    /*height: 50px;*/
    background-color: #000000;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    /*padding-bottom: 50px;*/
}
.navigation {
    display: flex;
    /*align-self: flex-end;*/
    justify-content: space-between;
    width: 1000px;
}
.navigation > a {
    color: cornsilk;
    text-decoration: none;
    font-size: 30px;

    /*margin-left: 50px;*/
    justify-content: space-between;
    align-self: flex-end;
    padding-bottom: 5px;
}
.navigation > img {
    width: 20px;
    height: 20px;
}
.logo {
    width: 100px;
    justify-content: flex-start;
    object-fit: cover;
    padding-left: 30px;
}
.logo img {
    width: 50px;
    transform: rotate(-90deg);
    object-fit: cover;
}
.cart-logo img{
    width: 30px;
}
.user-logo {
    align-self: flex-end;
}
.user-logo img {
    width: 30px;
    align-self: flex-end;
    padding-right: 30px;
}

/* ==========Footer=========*/

.footer {
    background-color: black;
    display: flex;
    /*margin-top: 60px;*/
    color: white;
    justify-content: space-evenly;
    margin-top: 200px;
}
.footer-logo {
    transform: rotate(180deg);
    padding-bottom: 30px;
    padding-top: 30px;
    width: 125px;
}
.footer-logo > img {
    width: 100%;
}
.logo-holder {
    display: flex;
}
.logo-container {
    width: 40px;
    padding: 0 9px;
}
.contact {
    /*padding-left: 40px;*/
    padding-top: 30px;
}
.contact > ul {
    font-size: 20px;
    padding-left: 30px;
}
.personnalisation {
    padding-top: 30px;
}
.personnalisation > ul {
    font-size: 20px;
    padding-left: 30px;
}
.follow {
    padding-top: 30px;
}
.social-logo {
    width: 100%;
}
.list-footer > a {
    text-decoration: none;
    color: white;
}
.footline {
    background-color: rgba(100,63,2,0.91);
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footline > p {
    font-weight: bold;
    font-size: 20px;
}
.footline > a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.payment-logo {
    display: flex;
    align-items: center;
    width: 40px;
    justify-content: flex-end;
}
.little-logo {
    width: 100%;
}

/* ==========Index=========*/

.banner-container {
    background-image: url("../img/bigpic.jpg");
    width: 100%;
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 100px;
}
.inner-container {
    width: 100%;
    height: auto;
    position: absolute;
}
.page-title {
    display: flex;
    justify-content: center;
}
.product-line {
    display: flex;
    /*height: 100%;*/
    flex-wrap: wrap;

}
.product-container {
    display: flex;
    flex-direction: column;

    padding: 2%;
    flex: 1 22%;

    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}
.product-img img {
    width: 100%;
}
.product-name {
    margin: 0;
}
.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}
.size {
    margin: 0;
    width: 20px;
}
.price {
    margin: 0;
}
.add-button {
    background-color:#f5d7ab;
    border-radius: 42px;
    text-indent:0;
    display:inline-block;
    color:#ffffff;
    font-family:Arial Black;
    font-size:37px;
    font-weight:bold;
    font-style:normal;
    height:51px;
    line-height:51px;
    width:51px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #f2ca9a;
}
.add-button:hover {
     background-color:#f2ca9a;
 }
.add-button:active {
       position: relative;
       top: 1px;
   }

@media only screen and (max-width: 920px) {
    .big-pic {
        margin-top: 100px;
    }
}
@media only screen and (max-width: 540px) {
    .big-pic {
        margin-top: 150px;
    }
}

/* ==========About=========*/

.about-line {
    height: 400px;
    display: flex;
    margin: 0 200px;
    justify-content: space-between;
    margin-top: 50px;
}
.about-img {
    height: 400px;
    width: 200px;
}
.custom-img {
    width: 100%;
}
.custom-about {
    width: 500px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.about-title {
    margin-top: 0px;
    align-content: flex-start;
    text-align: start;
}
.title-div {
    align-self: flex-start;
}
.about-button {
    background-color:#f5d7ab;
    -webkit-border-radius: 42px;
    -moz-border-radius: 42px;
    border-radius: 42px;
    text-indent:0;
    border:1px solid #f4ac53;
    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:17px;
    font-weight:bold;
    font-style:normal;
    height:48px;
    line-height:48px;
    width:182px;
    text-decoration:none;
    text-align:center;
    text-shadow:-1px 1px 0px #736049;
}.custom-boutton:hover {
     background-color:#f2ca9a;
 }
.custom-boutton:active {
       /*position: relative;*/
       top: 1px;
   }

/* ==========Login=========*/

.form-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-direction: row
}
.connect {
    align-content: center;
    width: 300px;
}
.connect h2 {
    text-align: center;
}

.connect > form > input {
    border-radius: 30px;
    margin: 20px 0;
    text-align: center;
    outline: 0px;
    align-content: center;
}
.connect > form > button {
    margin-top: 20px;
    margin-left: 10px
}
.connect > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.inscription {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.inscription h2 {
    text-align: center;
}
.inscription p {
    padding-bottom: 131px;
}
.inscription a {
    align-self: center;
}

/* ==========Products=========*/

.title-category {
    display: flex;
    justify-content: center;
    border-bottom: darkgrey solid 1px;
}
.category-choice {
    align-self: center;
    justify-content: flex-end;
}
.select-category {
    height: 20px;
    align-self: center;
}

/* ==========Repair=========*/

.form-line {
    width: 100vw;
    display: flex;
    height: 50vh;
}
.repair-carrousel {
    width: 50vw;
}
.repair-form {
    width: 50vw;
}
.product-title {
    text-align: center;
}
.product-img {
    width: 100%;
}
.shoes-img {

}
/* ==========Custom=========*/
